/* =============
General settings
================ */

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --lighter-blue: rgb(209, 227, 255);
  --light-blue: rgb(128, 176, 255);
  --blue: hsl(217, 100%, 64%);
  --medium-blue: hsl(217, 55%, 29%);
  --dark-blue: hsl(217, 56%, 19%);
  --light-gray: hsl(210, 47%, 93%);
  --gray: hsl(240, 25%, 2%);
}

body {
  line-height: 1.6;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.title {
  display: block;
  height: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.about {
  display: block;
}

.row {
  display: flex;
}

.wrapper {
  margin: 1.5em auto;
  margin-bottom: 3em;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  width: 100%;
  max-width: 980px;
}

.nav {
  justify-content: column;
}

.container {
  width: 980px;
  margin: 0 auto;
}

/* ====================
        Styling
 ===================  */
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.logo {
  height: 4em;
}

.subtitle {
  max-width: 950px;
  margin: 0 auto 0.5em 0.8em;
}

hr {
  border: 0.3px solid var(--blue);
  opacity: 20%;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.typing-stats {
  max-width: 750px;
  margin: 0 auto;
  justify-content: space-between;
}

.typing-stats__col {
  font-size: 1.5em;
  width: 40%;
}

.right-col {
  width: 20%;
  text-align: right;
}

.select-option,
.select-button {
  font-size: 16px;
  font-family: inherit;
  line-height: 1.3;
  margin: 0;
  padding: 0.6em 0.8em 0.6em 0.8em;
  border: 1px solid var(--blue);
  border-radius: 0.5em;
}

.select-option {
  padding-right: 2em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-button:focus,
.select-button:hover {
  color: white;
  background-color: var(--medium-blue);
  transition: all 0.2s ease-in-out;
}
.text-display {
  font-size: 1.25em;
  min-height: 57px;
  max-width: 750px;
  padding: 0.6em;
  width: 90%;
}
#encouragements {
  color: var(--blue);
  font-weight: 600;
}

.text-input {
  padding: 0.5em;
  resize: none;
  border-radius: 5px;
  height: 50px;
  overflow: hidden;
  display: block;
}
.text-input:focus,
.text-input:active,
.select-option:focus {
  outline: none;
  border: 3px solid var(--light-blue);
}
.text-input,
.text-display,
.progress {
  width: 100%;
  font-size: 20px;
  max-width: 750px;
  margin: 0 auto;
}

.progress {
  height: 5px;

  border-radius: 50px;
}

.progress__bar {
  width: 0%;
  background: linear-gradient(
    270deg,
    hsl(217, 100%, 64%) 0%,
    hsl(217, 100%, 75%) 35%,
    hsl(214, 100%, 85%) 100%
  );
  height: 5px;
  border-radius: 50px;
}

.keybr-display,
.theme-display {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 0.5em;
}

.btn-container {
  position: absolute;
  top: 0.5em;
  left: -4.5em;
  width: 3em;
}

.keybr-btn__img {
  opacity: 0.8;
  height: 2em;
  align-self: center;
}

.keybr-btn {
  text-transform: uppercase;
  align-self: center;
  margin-left: 0.5em;
  background: #b0f396;

  padding: 0.85em 0.45em;
  position: relative;
  font-size: 1.1rem;
  border: 2.5px solid var(--blue);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5em;
}

.switch {
  background: var(--medium-blue);
  opacity: 0.9;
  padding: 0.44em;
  border-radius: 50%;
  position: absolute;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
}

.slide .switch {
  top: 49%;
}

.inactive-switch {
  background: transparent;
}

.keybr-container {
  transition: 200ms ease-in-out;
  min-height: 250px;
  font-size: 1.25rem;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 5px;
}
.key {
  padding: 0.5em;
  padding-left: 0.7em;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  position: relative;
}
.key + .key {
  margin-left: 0.3em;
}

.uppercase-key {
  position: absolute;
  font-size: 0.8rem;
  right: 1.9em;
  bottom: 1.7em;
}

.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-top: 0.3em;
}

.first-row-spec {
  width: 85px;
}

.second-row-spec,
.fifth-row-spec {
  width: 70px;
}
.first-row,
.second-row-spec,
.third-row-spec,
.fourth-row-spec,
.fifth-row-spec {
  font-size: 16px;
}

.third-row-spec {
  width: 84px;
}

.fourth-row-spec {
  width: 110px;
}

.spacekey {
  width: 433px;
  text-align: center;
}

.key-on-focus {
  transition: all 0.2s ease-in-out;
}

.space-symbol {
  font-size: 1.25em;
  padding: 0.06em;
}

.about,
footer a {
  font-weight: bolder;

  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 0;
  padding: 0.25em;
}

.about:hover,
.about:focus,
footer a:focus,
footer a:hover {
  padding-bottom: 0.25em;
  background: linear-gradient(to bottom, var(--blue) 0%, var(--blue) 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 4px 4px;
}

footer {
  margin: auto auto 2em auto;
}

.disclaimer {
  display: none;
}

@media (max-width: 950px) {
  .container {
    display: none;
  }

  .disclaimer {
    display: block;
    margin: auto;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-gray);
    color: var(--dark-blue);
  }

  .keybr-container {
    background-color: white;
    color: var(--medium-blue);
  }

  .typing-stats {
    color: var(--medium-blue);
  }

  .key {
    border: 0.5px solid var(--light-blue);
  }

  .uppercase-key {
    color: rgba(33, 64, 115, 80%);
  }

  .current-lesson-keys {
    background-color: rgba(33, 64, 115, 20%);
  }

  .key-on-focus {
    color: white;
    background-color: var(--medium-blue);
  }

  .text-input {
    border: 1px solid var(--light-blue);
    background-color: white;
    caret-color: var(--blue);
  }

  .select-option,
  .select-button {
    color: #444;
    border: 1px solid var(--blue);
    background-color: #fff;
  }
  .wrong-input {
    background-color: #f39696;
  }

  .correct-input {
    background-color: #b0f396;
  }

  .progress {
    background-color: hsla(216, 100%, 90%, 0.8);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-blue);
    color: var(--light-gray);
  }

  .text-input {
    border: 1px solid var(--blue);
    background-color: var(--medium-blue);
    caret-color: var(--light-blue);
    color: white;
  }

  .keybr-container {
    background-color: var(--medium-blue);
    color: white;
    border: 1.5px solid var(--blue);
  }

  .typing-stats {
    color: var(--light-gray);
  }

  .key {
    border: 0.5px solid var(--blue);
  }

  .uppercase-key {
    color: white;
  }

  .current-lesson-keys {
    background-color: var(--blue);
  }

  .key-on-focus {
    color: var(--medium-blue);
    background-color: var(--light-blue);
  }

  .key-on-focus .uppercase-key {
    color: var(--medium-blue);
  }

  .select-option,
  .select-button {
    color: #fff;
    border: 1px solid var(--blue);
    background-color: var(--medium-blue);
  }
  .correct-input {
    background-color: hsl(103, 37%, 45%);
  }

  .wrong-input {
    background-color: hsl(0, 37%, 45%);
  }
  .progress {
    background-color: var(--medium-blue);
  }
}
